name: Release Go Binary

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt install golang curl jq git
      - run: git clone https://github.com/verdigado/pfa-ldap-auth.git
      - run: bash -c "cd pfa-ldap-auth; git checkout ${{ github.ref }}; bash .github/workflows/release.sh ${{ secrets.GITHUB_TOKEN }} ${{ github.ref }}"